body,ul,li,span,a,input{margin:0;padding:0;}
img{display:block;}
a{text-decoration:none;color:black;}
li{list-style:none;}
a:hover{color:red;}
body{background:#f8f8f8;}
header{
	width:990px;height:88px;
	margin:0 auto;
	margin-bottom:30px;
	hgroup{
		float:left;
		width:190px;
		height:88px;
		line-height:88px;
		background:url(../img/zhuce/sprite.png) no-repeat 0 8px;
	}
	.intor{line-height:88px;margin-left:40px;border:1px solid orangered;}
	.inter{
		span{background:url(../img/inline/sprite.png)no-repeat -67px -26px;}
		width:200px;height:20px;
		float:right;
	}
}
section{
	background:url(../img/inline/154736040595311305.png) -570px 0;
	.main{
	height:570px;
	width:970px;
	margin:0 auto;
	}
	.inline{
		background:white;
		width:340px;
		height:420px;
		float:right;
		margin:75px 60px 75px 0;
		#linway{width:340px;height:40px;line-height:40px;text-align: center;border-bottom:1px solid #cecece;
		#lookway{width:169px;height:40px;float:left;border-right:1px solid #cecece;line-height:40px;
		border-bottom:3px solid orange;}
		#writeway{width:170px;height:40px;float:left;}
		}
		.wayo{
			
			 position:relative;
			 margin:55px 0 15px 0;
			  #dknow{width:150px;height:150px;margin-left:82px;position:relative;}
			  #dknow:hover{
				  transform: translateX(-72px);
				  transition: 1s all;
			  }
			  #sknow{width:150px;height:150px;display:none;float:left;position:absolute;top:0px;left:180px;}
			  div{width:340px;text-align: center;height:70px;line-height:70px;
			  span{background:url(../img/inline/sprite.png) -164px -63px;}
			  }
			  #ret{display:block;margin-left:90px;}
		}
		.wayt{display:none;width:340px;height:260px;
			.phone{line-height:40px;width:300px;height:40px;border:1px solid #cecece;margin:30px 20px 20px 20px;
			span:first-child{float:left;background: url(../img/inline/sprite.png) -91px -66px;margin:0 10px 0 10px;}
			#phone{width:200px;height:40px;border:0;background:none;float:left;outline: none;}
			span:last-child{display:none;float:right;background: url(../img/inline/sprite.png) -91px -107px;margin:0 10px 0 10px;}
			}
			.num{line-height:40px;width:300px;height:40px;border:1px solid #cecece;margin:30px 20px 20px 20px;
			span:first-child{float:left;background: url(../img/inline/sprite.png) -50px -66px;margin:0 10px 0 10px;}
			#faltu{width:200px;height:40px;border:0;background:none;float:left;outline: none;}
			span:last-child{display:none;float:right;background: url(../img/inline/sprite.png) -91px -107px;margin:0 10px 0 10px;}
			}
			ul{width:300px;height:30px;margin:20px auto 10px auto;font-size:14px;color:#cecece;line-height:30px;
				li:first-child{width:150px;height:20px;float:left;
				span{float:left;background: url(../img/inline/sprite.png) no-repeat -20px -142px;}
				a{display:block;margin-top:0;}
				}
				li:last-child{width:150px;height:20px;float:right;
				a{display:block;margin:0 0 0 90px;}
				}
			}
			#inline{width:300px;height:40px;background:orange;margin:0 auto;border:0;
			outline:none;cursor:pointer;margin:20px 0 20px 20px;}
			#inline:hover{background:orangered;}
				
			a{display:block;width:140px;margin:0 auto;}
			}
			}
		}	
		.order{
			width:300px;height:20px;margin:20px auto 14px auto;border-bottom: 1px solid #cecece;line-height:40px;
			span{display:block;width:130px;background:white;margin:0 auto;}
		}
		.orway{width:300px;height:20px;margin:0 auto;
			li{font-size:15px;}
			li:first-child{float:left;span{
				background:url(../img/inline/sprite.png) -140px -104px;
			}}
			li:nth-child(2){float:left;span{
				background:url(../img/inline/sprite.png) -90px -22px;
			}}
			li:nth-child(3){float:left;span{
				background:url(../img/inline/sprite.png) -120px -104px;
			}}
			li:nth-child(4){float:left;span{
				background:url(../img/inline/sprite.png) 0px -146px;
			}}
		};


footer{margin-top:20px;
height:200px;
	ul{
		.first{width:540px;height:30px;margin:0 auto;}
		.two{width:740px;height:30px;margin:0 auto;}
		.third{width:760px;height:30px;margin:0 auto;
		a{float:left;
		img{float:left;}
		}
		}
		.forth{width:540px;height:30px;margin:0 auto;}
		.fifth{width:440px;height:30px;margin:0 auto;
		img{float:left;margin-left:10px;}
		}
	}
}