body,ul,li{margin:0;padding:0;}
img{display:block;}
a{text-decoration:none;color:black;}
li{list-style:none;}
a:hover{color:red;}
body{background:#f8f8f8;}
header{
	width:990px;height:88px;
	margin:0 auto;
	hgroup{
		float:left;
		width:190px;
		height:88px;
		line-height:88px;
		background:url(../img/zhuce/sprite.png) no-repeat 0 8px;
	}
	span{height:88px;float:left;line-height:88px;font-size:20px;margin-left:20px;}
	a{float:right;line-height:128px;}
}
section{
	width:992px;
	height:446px;
	margin:0 auto;
	.main{width:360px;height:446px;margin:0 auto;}
	.libao{
		a{color:red;}
		width:360px;height:82px;
		span{float:left;};
		line-height:82px;
		}
	.lihe{width:20px;height:20px;background:url(../img/zhuce/sprite.png)no-repeat -74px -94px;
		float:left;margin-top:32px;margin-right:10px;}	
	ul{width:360px;height:210px;line-height:210px;}
	li{width:360px;height:40px;border:1px solid black;line-height:40px;margin:30px 0 0px 0;
	label{width:80px;height:40px;display:inline-block;float:left}
	}
	input{float:left;line-height:30px;margin-top:3px;border:0;background:none;}
	#send{height:40px;width:111px;float:left;background:orange;margin-top:0px;}
	#without{display:none;border:0;font-size:12px;}
	.inter{font-size:10px;border:0;margin:0 0 0 0;line-height:20px;}
	#intor{color:red;}
	#eye{float:right;margin:10px 6px 0 0;width:20px;height:20px;background:url(../img/zhuce/sprite.png)no-repeat -25px -94px;}
	#online{width:360px;height:40px;background:orange;border:0;}
	#online:hover{background:orangered;}
}